.navs{
    display: flex;
    justify-content: space-between;



}
.Main-head{ 
    width: 222px;
    height: 38px;
    top: 31px;
    left: 160px;
    padding: 24px, 160px, 24px, 160px;
    font-weight: 700;
    text-align: left ;


}
.btn-primary{
    height: 52px;
    width: 116px;
    top: 24px;
    left: 160px;
    padding: 15px, 30px, 15px, 30px;


}



.banner{
    display: flex;
    width: 1582px;
    height: 510px;
    left: 9px;
    border-radius: 24px;
    padding: 121px, 100px, 80px, 100px;
    justify-content: space-between;
    background-color:rgb(198, 228, 214) ;



} 




.banner-content{
    gap: 10px;
    margin: 113px, 749px, 72px, 210px;




}




.banner-greting{
    margin-left: 210px;
    width: 270px;
    height: 28px;
    font-weight: 500;
    text-align: left;
    color: rgba(14, 14, 14, 0.5);
    



}




.banner-title{
    width: 622px;
    height: 201px;
    font-size: 50px;
    top: 44px;
    color: black;




}




.btn-primary{ 
    width: 270px;
    height: 56px;
    top: 269px;
    padding: 17px, 34px, 17px, 34px;
    background-color: rgb(0, 106, 80);
    color: aliceblue;



}



.image-p{ margin: 75px,210px,34px, 896px;
    width: 474px;
    height: 400px;



}
/* main section */
.skills{
    padding: 30px;



}




.section-title{
    font-size: 20px;
    width: 362px;
    height: 24px;



}
.skills-title{
    width: 346px;
    height: 24px;
    column-gap: 24 px;


}




.section-description{
    width: 1280px;
    height: 48px;
    column-gap: 32px;

    

}



.box{
    display: flex;


}

.skills-container1{
    width: 410px;
    height: 325px;
    display: flex;
    row-gap: 24px;
    padding: 32px, 32px,32px,32px;
    background-color: rgba(84, 144, 245, 0.2)  ;
     gap: 24px;

}
.skills-container2{
    width: 410px;
    height: 325px;
    display: flex;
    row-gap: 24px;
    padding: 32px, 32px,32px,32px;
    background-color: rgb(198, 228, 214) ;
    gap: 24px;


}
.skills-container3{
    width: 410px;
    height: 325px;
    display: flex;
    row-gap: 24px;
    padding: 32px, 32px,32px,32px;
    background-color: rgb(247, 235, 207);


}
.picture{
    height: 64px;
    width: 64px;
    padding-top: 32px;
    padding-left:32px ;



}


.skills-title{


}



.skills-description{
    height: 48px;
    width: 362px;
    font-size: 16px;
    font-weight: 400;


}
